.root {
  width: 1280px;
  height: 300px;
}

.before {
  position: absolute;
  right: 100px;
}

.active {
  position: absolute;
  /* TODO: 表裏のサイズ差考慮して微調整 */
  left: 500px;
}

.after {
  position: absolute;
  left: 100px;
}
