html,
body {
  width: 100%;
  height: 100%;
  background: gray;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; 縦も中央ぞろえ */
}

app-root {
  position: absolute;
  width: 1280px;
  height: 720px;
  display: flex;
  background: white;
}

.common-button {
  display: inline-block;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  border: 4px solid gray;
  border-radius: 10px;
  transition: .4s;
  /* TODO: 文字サイズ依存で表示が崩れる */
  line-height: 120px;
  font-size: 60px;
  text-decoration-line: none;
  color: black;
}