html,
body {
  width: 100%;
  height: 100%;
  background: gray;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; 縦も中央ぞろえ */
}

app-root {
  position: absolute;
  width: 1280px;
  height: 720px;
  display: flex;
  background: white;
}