.title {
  position: absolute;
  top: 100px;
  width: 100%;
}

h1 {
  font-size: 80px;
  font-family: sans-serif;
}

ul {
  position: absolute;
  width: 100%;
  padding: 0;
  top: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

li a {
  width: 300px;
}

li:first-child a {
  border-color: green;
}
